body{
    background-color:  #1a1b1d;
}

.header {
    position: relative  ;
    left: 0;
    top: 0;
    width: 100%;
    background-color: teal;
    color: dark-b;
    text-align: center;
}

.link{
    font-size="10";
    color:#1a1b1d;
    font-weight: bold;
}

.link:hover{
    color:white;
    text-decoration: none;
}

#motorista{
    position:absolute;
    width: 100px;
    height: 100px;
    background: teal; 
    border-radius: 100%; 
    margin-left:47.5%;
    margin-top:20%;
    padding-top: 38px;
    padding-bottom: 36px; 
    padding-left:10px; 
}


#passageiro{
    position:absolute;
    width: 100px;
    height: 100px;
    background: teal; 
    border-radius: 100%; 
    margin-top:13%;
    margin-left:60%;
    padding-top: 38px;
    padding-bottom: 36px; 
    padding-left:8px; 
    float:left;
}

#corrida{
    position:absolute;
    width: 100px;
    height: 100px;
    background: teal; 
    border-radius: 100%; 
    margin-top:13%;
    margin-left:35%;
    padding-top: 38px;
    padding-bottom: 38px; 
    padding-left:20px; 
    float:left;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: teal;
    color: dark-b;
    text-align: center;
    font-weight: bold;
    float:bottom;
}



